.container{
  color: rgb(238, 235, 48);
  display: flex;
  background-image: url('../public/burguer.jpg');
  height: 85vh;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'ubuntu',sans-serif;
  
  
 

}
@media(max-width:600px){
  .container{
     height: 163vh;

     
      
      
  
  
  }
  

}



