.index{
    color: rgb(238, 235, 48);
    display: flex;
    background-image: url('../public/soconatu4.jpg');
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'ubuntu',sans-serif;
    
    
   
  
  }
  
  
  @media(max-width:600px){
    .index{
       height: 150vh;
  
       
        
        
    
    
    }
    
    
  
  }
  
  
  