.sobre{
  
    height: 1299px;
}
.sobre h1{
    color: rgb(0, 60, 255);
    font-size: 70px;
    text-shadow: 3px 3px 3px black;
}
.sobre p{
    color: rgb(247, 90, 90);
    font-size: 40px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 20px;
}
.sobre button{
    background-color: rgb(255, 247, 0);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 50px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px black;
    
}
.sobre a{
    font-family: fantasy;
    color: blue;
}