.sobre{
    color: rgb(238, 235, 48);
    display: flex;
    background-image: url('../public/batatafrita3.jpg');
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'ubuntu',sans-serif;
    
    
   
  
  }
  @media(max-width:600px){
    .sobre{
        height: 150vh;
    }
    
  
  }
  
  
  